@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Montserrat:wght@400;700;900&family=Roboto&display=swap");

:root {
  --mainFontFamily: "Montserrat", sans-serif;
  --secondaryFontFamily: "Roboto", sans-serif;
  --crimsonFontFamily: "Crimson Pro", serif;
  --mainTextColor: #241400;
  --mainColor: #720418;
  --colorOrange: #e16a00;
  --colorWhite: #ffffff;
  --colorBrown: #391f00;
}

body {
  background-color: #fffaf5;
}
.socialmedia-logo a img{
  transition: .4s;
}
.socialmedia-logo a img:hover{
  opacity: 50%;
}
li.list-item-custom{
  transition: .2s;
}
li.list-item-custom:hover{
  color: #a1886b;
  cursor: pointer;
}
.navbar-custom {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 157px;
}

.navbar-collap {
  justify-content: center;
}

.navbar-ul {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: var(--mainTextColor) !important;
  font-family: var(--mainFontFamily) !important;
  font-weight: 400 !important;
  padding: 8px 21px !important;
}

.homeLink {
  color: var(--colorOrange) !important;
  font-family: var(--mainFontFamily) !important;
  font-weight: 700 !important;
  text-decoration: underline;
}

.loginLogo {
  padding-right: 8px;
}

.navbar-login {
  display: flex;
}

.navbar-login span {
  font-family: var(--secondaryFontFamily) !important;
  font-weight: 400 !important;
}

.socialmedia-section {
  margin-top: 239px;
}

.socialmedia-title {
  font-family: var(--mainFontFamily);
  color: var(--mainTextColor);
  font-weight: 900;
  font-size: 25px;
}

.socialmedia-logo {
  margin-right: 10px;
  margin-top: 30px;
}

.footer-section {
  background-color: var(--colorBrown);
  margin-top: 87px;
  padding: 80px 192px 0 192px;
}

.list-item-custom {
  background-color: transparent;
  color: var(--colorWhite);
  border: none;
  font-family: var(--mainFontFamily);
  font-weight: 400;
  font-size: 13px;
  line-height: 25.5px;
  list-style: none;
}

.list-item-custom-special {
  background-color: transparent;
  color: var(--colorWhite);
  border: none;
  font-family: var(--mainFontFamily);
  font-weight: 400;
  font-size: 18px;
  line-height: 35.31px;
  list-style: none;
}

.footer-para-section {
  display: flex;
  align-self: flex-end;
  text-align: center;
  justify-content: center;
}

.footer-para {
  color: var(--colorWhite);
  font-family: var(--mainFontFamily);
  font-size: 12px;
  font-weight: 400;
  margin-top: 50px;
}

.modal-content {
  margin: auto;
  padding-right: 45px;
  padding-left: 45px;
  width: 475px !important;
  /* height: 505px !important; */
}

.modal-header-custom {
  font-family: var(--mainFontFamily);
  color: #000000;
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 17px;
  transform: rotateX(-50%);
}
#joinButton{
  border: 0;
}
input[type="text"] {
  width: 100%;
  height: 76px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 55px;
  font-family: var(--crimsonFontFamily);
  font-size: 19px;
  margin-bottom: 34px;
}
input[type="email"] {
    width: 100%;

  height: 76px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 55px;
  font-family: var(--crimsonFontFamily);
  font-size: 19px;
}

#joinButton {
    width: 100%;
  height: 76px;
  margin-top: 56px;
  background-color: var(--colorOrange);
  font-family: var(--crimsonFontFamily);
  font-weight: 700;
  text-align: center;
  font-size: 19px;
}

::-webkit-scrollbar {
  background: #e6e7e9c2 !important;
  border-radius: 1px !important;
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  height: 5px !important;
  background: var(--mainColor);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}


#contactTitle{
    font-family: var(--mainFontFamily);
    font-weight: 900;
    font-size: 36px;

    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 28px;
    position: relative;
    left: 15px;
}

#contactContainer input{

height: 75px;

background: #FFFFFF;
border: 1px solid #CECECE;
box-sizing: border-box;
font-family: var(--crimsonFontFamily);
font-weight: 400;
font-size: 23px;
line-height: 32px;

color: #797667;
}

.input-group{
    margin-bottom: 33px;

}
#contactButton{
    width: 100%;
    height: 75px;
    
    
    background: #E16A00;

font-family:  var(--crimsonFontFamily);
font-weight: 400;
font-size: 30px;
text-align: center;
color: #FFFFFF;
border: 0;

}
/* BTN TOP STARTED */
.footer-up-btn{  
  width: 37px;
  height: 35px;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  color: #720418;
  font-size: 25px;
  position: fixed;
  bottom: 25px;
  box-shadow: 0px 0px 20px 4px #0000001f, 0px 0px 37px #72041824;
  right: 10px;
  transition: .4s;
}
/* BTN TOP END */

@media screen  and (max-width:768px) {
  #contactTitle{
    display: flex;
    justify-content: center;
    
  }

}


/* MEDIA QUERY STARTED */

/* -------------------------- 992px START--------------------------  */
@media(max-width:992px){
  .joinUsMain{
    display: none;
  }
  .customNavbarButton{
    display: none;
  }
}

/* -------------------------- 992px END--------------------------  */



/* -------------------------- 786px START--------------------------  */
@media (min-width:767.9px) {
  .customFooterShowMobile{
    display: none;
  }
    /* HEADER SECTION STARTED */
    .headerHamburger , .HeaderMobile{
      display: none;
    }
    /* HEADER SECTION END */
}

@media(max-width:768px){
  .container, .container-md, .container-sm{
    max-width: 100%;
  }


  
  /* HEADER SECTION STARTED */
  .headerHamburger{
    font-size: 25px;
  }
  .headerHamburgerWrapper{
    z-index: 9;
  }
  .HeaderMobile{
    background: #241400;
    opacity: 90%;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 2; 
    transition: .3s;

    left: -100%;
  }
  .openMenu .HeaderMobile{
    left: 0%;
  }
  .openMenu .headerHamburgerWrapper i{
   color: white; 
  }
  .openMenu .close{
    visibility: visible;
    opacity: 1;
  }
  .openMenu .open{
    visibility: hidden;
    opacity: 1;
  }
  .close{
    visibility: hidden;
    opacity: 1;    
    position: relative;
    right: 17px;
  }
  .openMenu{
    overflow: hidden !important;
  }
  .HeaderMobile ul {
    list-style: none;
    margin-top: 95px;
    padding: 20px;
    width: 100%;
    text-align: end;
  }
  .HeaderMobile ul li a{
    font-size: 17px;
    color: #F2F2F2;
    font-weight: 300;
    line-height: 40px;
    padding: 10px;
  }
  .HeaderMobile li:hover{
    background-color:#6b634c;
  }
  /* HEADER SECTION END */



  /* FOOTER START */
  .customFooterShowLg{
    display: none;
  }
  .customFooterShowMobile{
    background: #391F00;
    padding: 18px 18px 0px 18px;
    text-align: center;
    color: white;
    font-size: 12px;

  }
  .customFooterShowMobile ul{
    padding: 0;
    margin: 0;
  }
  .customFooterShowMobile ul li{
    list-style: none;
    text-decoration: none;
     padding: 0px 5px;
  }
  .customFooterShowMobile ul li a{
    color: white;
  }
  .customFootLogo img{
  width: 260px;
  margin-bottom: 17px;
  }
  .MobileFooterBottom{
    padding: 7px;
    border-top: 1px solid;
    margin-top: 32px;
    letter-spacing: 1.2px;
  }
  .MobileFooterBottom p{    
    line-height: 29px;
  }
  /* FOOTER END */
 /* contact */
 .contentContactUs{
   margin-bottom: 30px;
 }
}
/* -------------------------- 786px END--------------------------  */



/* -------------------------- 576px Start--------------------------  */
@media(max-width:576px){
  .content-title{
    text-align: center;
  }
  .modal-content{
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  
  .content-button{
    width: 100%;
    margin-top: 39px;
    margin-bottom: 50px;
  }
  .catalog-title{
    margin-bottom: 30px;
  }
  
  .delivery-para{
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
  }
  .socialmedia-title{
    font-size: 18px;
  }
  .socialmedia-logo img{
    width: 38px;
  }
  /* HEADER SECTION STARTED */
  .navbar.navbar-expand-lg.navbar-light.navbar-custom{
    padding: 0;
  }
  .navbar-brand{
    margin: 0;
  }
  /* HEADER SECTION END */
}
/* -------------------------- 576px END--------------------------  */

